<nav>
  <div
    class="w-full flex flex-wrap items-center justify-between mx-10 py-2 bg-transparent"
  >
    <div class="flex items-center space-x-8">
      <a routerLink="country" class="flex items-center">
        <img
          src="../../../../assets/logo.jpeg"
          class="h-10 mr-3"
          alt="GlobeCoinConsult Logo"
        />
        <span class="self-center text-xl font-semibold whitespace-nowrap"
          >GlobeCoinConsult</span
        >
      </a>
      <ul class="flex space-x-6">
        <li>
          <a
            routerLink="country"
            class="block underline hover:underline"
            aria-current="page"
            >Country
          </a>
        </li>
        <li>
          <a routerLink="currency" class="block hover:underline">Currency</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
